*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  padding-top: 5%;
}

.login, .register{
  color: #fff;
  display: flex;
  flex-direction: column;
  background: black;
  padding: 30px;
  border-radius: 50px;
  background: #c40424;
  max-width: 50%;
  max-height: 50%;
  margin: 0 120px;
}

@media (max-width:370px) {
  body{
    width: 370px;
  }
}

 
h1{
  color: white;
  font-size: 35px;
  margin: 10px 0;
}
 
input{
  padding: 7px;
  font-size: 20px;
  outline: none;
  margin-bottom: 10px;
  border: 7px solid #c40424;
}

#submit:hover{
  cursor: pointer;
  color: red;
  background: white;
}

.hover{
  border: 7px solid purple;
}

label{
  font-size: 25px;
}