*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  padding-top: 5%;
}

.login, .register{
  color: #fff;
  display: flex;
  flex-direction: column;
  background: black;
  padding: 30px;
  border-radius: 50px;
  background: #c40424;
  max-width: 500px;
  margin: 0 120px;
}
 
h1{
  color: white;
  font-size: 35px;
  margin: 10px 0;
}
 
input{
  padding: 7px;
  font-size: 20px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}
 
button{
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: #fff;
  background: rgb(216, 19, 19);
  color: #fff;
  cursor: pointer;
}